<section class="full-width navLateral">
    <div class="full-width navLateral-bg btn-menu"></div>
    <div class="full-width navLateral-body">
        <div class="full-width navLateral-body-logo text-center tittles">
            <i class="zmdi zmdi-close btn-menu"></i> ComerciPlus
        </div>
        <figure class="full-width" style="height: 77px;">
            <div class="navLateral-body-cl">
                <img src="assets/img/avatar-male.png" alt="Avatar" class="img-responsive">
            </div>
            <figcaption class="navLateral-body-cr hide-on-tablet">
                <span>
                    Luis Perez<br>
                    <small>Admin</small>
                </span>
            </figcaption>
        </figure>
        <div class="full-width tittles navLateral-body-tittle-menu">
            <a href="/dashboard" style="text-decoration: none; color: #ffffff;" class="full-width"><i class="zmdi zmdi-desktop-mac"></i> DASHBOARD</a>
        </div>
        <nav class="full-width">
            <ul class="full-width list-unstyle menu-principal">
                <li class="full-width">
                    <a href="/home" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-view-dashboard"></i>
                        </div>
                        <div class="navLateral-body-cr hide-on-tablet">
                            INICIO
                        </div>
                    </a>
                </li>
                <li class="full-width divider-menu-h"></li>
                <li class="full-width">
                    <a href="#!" class="full-width btn-subMenu">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-case"></i>
                        </div>
                        <div class="navLateral-body-cr hide-on-tablet">
                            ADMINISTRACIÓN
                        </div>
                        <span class="zmdi zmdi-chevron-left"></span>
                    </a>
                    <ul class="full-width menu-principal sub-menu-options">

                         <li class="full-width">
                            <a href="/roles" class="full-width">
                                <div class="navLateral-body-cl">
                                    <i class="zmdi zmdi-accounts"></i>
                                </div>
                                <div class="navLateral-body-cr hide-on-tablet">
                                    ROLES
                                </div>
                            </a>
                        </li>

                        <li class="full-width">
                            <a href="/users" class="full-width">
                                 <div class="navLateral-body-cl">
                                     <i class="zmdi zmdi-face"></i>
                                </div>
                                <div class="navLateral-body-cr hide-on-tablet">
                                    USUARIOS
                                </div>
                            </a>
                        </li>

                        <li class="full-width">
                            <a href="/client" class="full-width">
                                <div class="navLateral-body-cl">
                                    <i class="zmdi zmdi-accounts"></i>
                                </div>
                                <div class="navLateral-body-cr hide-on-tablet">
                                    CLIENTES
                                </div>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="full-width divider-menu-h"></li>
                <li class="full-width">
                    <a href="/providers" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-truck"></i>
                        </div>
                        <div class="navLateral-body-cr hide-on-tablet">
                            PROVEEDORES
                        </div>
                    </a>
                </li>
                <li class="full-width divider-menu-h"></li>
                <li class="full-width">
                    <a href="/categories" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-label"></i>
                        </div>
                        <div class="navLateral-body-cr hide-on-tablet">
                            CATEGORIAS
                        </div>
                    </a>
                </li>
                <li class="full-width divider-menu-h"></li>
                <li class="full-width">
                    <a href="/products" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-washing-machine"></i>
                        </div>
                        <div class="navLateral-body-cr hide-on-tablet">
                            PRODUCTOS
                        </div>
                    </a>
                </li>
                <li class="full-width divider-menu-h"></li>
                <li class="full-width">
                    <a href="/entradas" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-washing-machine"></i>
                        </div>
                        <div class="navLateral-body-cr hide-on-tablet">
                            ENTRADAS
                        </div>
                    </a>
                </li>
                <li class="full-width divider-menu-h"></li>
                <li class="full-width">
                    <a href="/compras" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-washing-machine"></i>
                        </div>
                        <div class="navLateral-body-cr hide-on-tablet">
                            COMPRAS
                        </div>
                    </a>
                </li>
                <li class="full-width divider-menu-h"></li>
                <li class="full-width">
                    <a href="/historialcod" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-washing-machine"></i>
                        </div>
                        <div class="navLateral-body-cr hide-on-tablet">
                            HISTORIAL CODG
                        </div>
                    </a>
                </li>
                <li class="full-width divider-menu-h"></li>
                <li class="full-width">
                    <a href="/sales" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </div>
                        <div class="navLateral-body-cr hide-on-tablet">
                            VENTAS
                        </div>
                    </a>
                </li>
                <li class="full-width divider-menu-h"></li>
                <li class="full-width">
                    <a href="/refund" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </div>
                        <div class="navLateral-body-cr hide-on-tablet">
                            DEVOLUCIONES
                        </div>
                    </a>
                </li>
                <li class="full-width divider-menu-h"></li>
                <li class="full-width">
                    <a href="/credits" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-shopping-cart"></i>
                        </div>
                        <div class="navLateral-body-cr hide-on-tablet">
                            CRÉDITOS
                        </div>
                    </a>
                </li>
                {{!-- <li class="full-width divider-menu-h"></li>
                <li class="full-width">
                    <a href="/inventory" class="full-width">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-store"></i>
                        </div>
                        <div class="navLateral-body-cr hide-on-tablet">
                            INVENTARIO
                        </div>
                    </a>
                </li> --}}

                {{!-- <li class="full-width divider-menu-h"></li>
                <li class="full-width">
                    <a href="#!" class="full-width btn-subMenu">
                        <div class="navLateral-body-cl">
                            <i class="zmdi zmdi-wrench"></i>
                        </div>
                        <div class="navLateral-body-cr hide-on-tablet">
                            CONFIGURACIONES
                        </div>
                        <span class="zmdi zmdi-chevron-left"></span>
                    </a>
                    <ul class="full-width menu-principal sub-menu-options">
                        <li class="full-width">
                            <a href="#!" class="full-width">
                                <div class="navLateral-body-cl">
                                    <i class="zmdi zmdi-widgets"></i>
                                </div>
                                <div class="navLateral-body-cr hide-on-tablet">
                                    OPCIÓN
                                </div>
                            </a>
                        </li>
                        <li class="full-width">
                            <a href="#!" class="full-width">
                                <div class="navLateral-body-cl">
                                    <i class="zmdi zmdi-widgets"></i>
                                </div>
                                <div class="navLateral-body-cr hide-on-tablet">
                                    OPCIÓN
                                </div>
                            </a>
                        </li>
                    </ul>
                </li> --}}
            </ul>
        </nav>
    </div>
</section>


