<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Clientes</title>

	<link href="public/css/crud.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/sweetalert2.css">
	<link rel="stylesheet" href="css/material.min.css">
	<link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="css/material-design-iconic-font.min.css">
	<link rel="stylesheet" href="vendor/datatables/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
	<!-- Notifications area -->
	{{>notifications }}
	<!-- navBar -->
	{{>navBar }}
	<!-- navLateral -->
	{{>navLateral }}

	{{!-- ------------------------------------------- PAGE CONTENT ------------------------------------------ --}}
	<section class="full-width pageContent">

		{{!-- CRUD --}}
		<div class="mt-4" id="wrapper">
			<div id="content-wrapper" class="d-flex flex-column">
				<div id="content">
					<div class="container-fluid">
						<div class="card shadow mb-4">
							<div class="card-header py-3 d-flex justify-content-between">
								<h1>Clientes</h1>
								<h6 class="m-0 font-weight-bold text-primary"></h6>

								<button type="button" class="btn btn-success" data-bs-toggle="modal"
									data-bs-target="#createModal">
									<i class="bi bi-person-plus"></i> Agregar</button>
							</div>

							<div class="card-body text-center">
								<div class="table-responsive">
									<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
										<thead>
											<tr>
												<th>CÉDULA</th>
												<th>NOMBRE</th>
												<th>APELLIDO</th>
												<th>DIRECCIÓN</th>
												<th>TELÉFONO</th>
												<th>ESTADO DE CRÉDITO</th>
												<th>ACCIONES</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1001</td>
												<td>Luisa</td>
												<td>Fernandez</td>
												<td>Cll 50B</td>
												<td>3002500146</td>
												<td style="color: #ff0000;">INACTIVO</td>

												<td class="align-middle text-center">
													<div
														style="display: flex; justify-content: center; align-items: center;">
														<div style="margin-right: 10px;">
															<div class="form-check form-switch ">
																<input class="form-check-input" type="checkbox"
																	role="switch" checked
																	onclick="alertSuccesClients()">
															</div>
														</div>
														<button class="btn btn-warning" data-bs-toggle="modal"
															data-bs-target="#editModal">
															<i class="bi bi-pen"></i>
														</button>
														<button class="btn btn-primary p-2 ms-2" data-bs-toggle="modal"
															data-bs-target="#detailsModal">
															<i class="bi bi-eye-fill"></i>
														</button>
													</div>
												</td>
											</tr>
											<tr>
												<td>1002</td>
												<td>Camilo</td>
												<td>González</td>
												<td>Cll 77A</td>
												<td>3003200418</td>
												<td style="color: #009900;">ACTIVO</td>
												<td class="align-middle text-center">
													<div
														style="display: flex; justify-content: center; align-items: center;">
														<div style="margin-right: 10px;">
															<div class="form-check form-switch ">
																<input class="form-check-input" type="checkbox"
																	role="switch" checked
																	onclick="alertSuccesClients()">
															</div>
														</div>
														<button class="btn btn-warning" data-bs-toggle="modal"
															data-bs-target="#editModal">
															<i class="bi bi-pen"></i>
														</button>
														<button class="btn btn-primary p-2 ms-2" data-bs-toggle="modal"
															data-bs-target="#detailsModal">
															<i class="bi bi-eye-fill"></i>
														</button>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- End of Main Content -->
			</div>
			<!-- End of Content Wrapper -->

		</div>


	</section>

	{{!-- ------------------------------------------- MODAL CREATE ------------------------------------------ --}}
	<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Cliente</h1>
				</div>

				<div class="modal-body ">

					<form class="needs-validation row g-3 form" novalidate>
						<div class="col-md-6">
							<label for="inputName" class="form-label">Nombre<span class="text-danger"> * </span></label>
							<input type="text" class="form-control" id="inputName" pattern="[A-Za-z\s]+" required>
							<div class="invalid-feedback">
								Por favor ingresa un nombre válido.
							</div>
						</div>
						<div class="col-md-6">
							<label for="inputLastName" class="form-label">Apellido<span class="text-danger"> *
								</span></label>
							<input type="text" class="form-control" id="inputLastName" pattern="[A-Za-z\s]+" required>
							<div class="invalid-feedback">
								Por favor ingresa un apellido válido.
							</div>
						</div>
						<div class="col-md-6">
							<label for="inputIdentification" class="form-label">Cédula<span class="text-danger"> *
								</span></label>
							<input type="text" class="form-control" id="inputIdentification" pattern="[0-9]+" minlength="5" required>
							<div class="invalid-feedback">
								Por favor ingresa una cédula válida.
							</div>
						</div>
						<div class="col-md-6">
							<label for="inputPhone" class="form-label">Teléfono<span class="text-danger"> *
								</span></label>
							<input type="text" class="form-control" id="inputPhone" pattern="[0-9]+" minlength="7" maxlength="10" required>
							<div class="invalid-feedback">
								Por favor ingresa un número de teléfono válido.
							</div>
						</div>
						<div class="col-6">
							<label for="inputAddress" class="form-label">Dirección<span class="text-danger"> *
								</span></label>
							<input type="text" class="form-control" id="inputAddress" required>
							<div class="invalid-feedback">
								Por favor ingresa una dirección válida.
							</div>
						</div>
						<div class="col-6">
							<label for="inputAddress" class="form-label">Estado de crédito<span class="text-danger"> * </span></label>
							<input type="text" class="form-control" id="inputAddress" value="Activo" disabled>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
							<button class="btn btn-primary submit-button" type="submit">Guardar</button>
						</div>
					</form>

				</div>

			</div>
		</div>
	</div>

	{{!-- ------------------------------------------- MODAL EDIT -------------------------------------------- --}}
	<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">

		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Editar Cliente</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<form class="needs-validation row g-3 form" novalidate>
						<div class="col-md-6">
							<label for="inputName" class="form-label">Nombre<span class="text-danger"> * </span></label>
							<input type="text" class="form-control" id="inputName" pattern="[A-Za-z\s]+" required>
							<div class="invalid-feedback">
								Por favor ingresa un nombre válido.
							</div>
						</div>
						<div class="col-md-6">
							<label for="inputLastName" class="form-label">Apellido<span class="text-danger"> *
								</span></label>
							<input type="text" class="form-control" id="inputLastName" pattern="[A-Za-z\s]+" required>
							<div class="invalid-feedback">
								Por favor ingresa un apellido válido.
							</div>
						</div>
						<div class="col-md-6">
							<label for="inputIdentification" class="form-label">Cédula<span class="text-danger"> *
								</span></label>
							<input type="text" class="form-control" id="inputIdentification" pattern="[0-9]+" minlength="5" required>
							<div class="invalid-feedback">
								Por favor ingresa una cédula válida.
							</div>
						</div>
						<div class="col-md-6">
							<label for="inputPhone" class="form-label">Teléfono<span class="text-danger"> *
								</span></label>
							<input type="text" class="form-control" id="inputPhone" pattern="[0-9]+" minlength="7" maxlength="10" required>
							<div class="invalid-feedback">
								Por favor ingresa un número de teléfono válido.
							</div>
						</div>
						<div class="col-6">
							<label for="inputAddress" class="form-label">Dirección<span class="text-danger"> *
								</span></label>
							<input type="text" class="form-control" id="inputAddress" required>
							<div class="invalid-feedback">
								Por favor ingresa una dirección válida.
							</div>
						</div>
						<div class="col-6">
							<label for="inputAddress" class="form-label">Estado de crédito<span class="text-danger"> * </span></label>
							<select name="selectCambioEstados" class="form-select px-3" required>
								<option value="0">
									Activo
								</option>
								<option value="1">
									Inactivo
								</option>
							</select>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
							<button class="btn btn-primary submit-button" type="submit">Guardar</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>

	{{!-- ------------------------------------------- DETAILS ------------------------------------------- --}}
	<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">

		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>

				<div class="modal-body">
					<h3 id="usuarioNombre" style="margin-bottom: 10px; color: #333;">Usuario</h3>
					<div id="detailsCredit"
						style="border: 1px solid #ccc; border-radius: 5px; padding: 20px; margin: 20px auto; width: 90%; max-width: 600px;">

						<div class="card-body text-center">
							<h6>HISTORIAL DE CRÉDITOS</h6>

							<p>-------------------------------------------------------------------</p>

							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>FECHA</th>
											<th>MOTIVO</th>
											<th>MONTO</th>
											<th>SALDO</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>10/3/2024</td>
											<td>CRÉDITO</td>
											<td style="color: #ff0000;">50.000</td>
											<td style="color: #ff6600;">50.000</td>
										</tr>
										<tr>
											<td>20/3/2024</td>
											<td>ABONO</td>
											<td style="color: #009900;">10.000</td>
											<td style="color: #009900;">40.000</td>
										</tr>
										<tr>
											<td>23/3/2024</td>
											<td>ABONO</td>
											<td style="color: #009900;">20.000</td>
											<td style="color: #009900;">20.000</td>
										</tr>
										<tr>
											<td>10/3/2024</td>
											<td>CRÉDITO</td>
											<td style="color: #ff0000;">40.000</td>
											<td style="color: #ff6600;">60.000</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<p>-------------------------------------------------------------------</p>

						<table id="totalTable" style="width: 100%;">
							<tr>
								<td>TOTAL DEUDA</td>
								<td style="text-align: right; font-weight: bold; color: #ff0000;">
									$90.000</td>
							</tr>
							<tr>
								<td>TOTAL ABONOS</td>
								<td style="text-align: right; font-weight: bold; color: #009900;">
									$30.000</td>
							</tr>
							<tr>
								<td>DEUDA RESTANTE</td>
								<td style="text-align: right; font-weight: bold; color: #ff6600;">
									$60.000</td>
							</tr>
						</table>
					</div>

					<div class="row">
						<div class="col-9"></div>
						<div class="col-3 d-flex justify-content-end">
							<button id="downloadButton" type="submit" class="btn btn-success">
								<i class="bi bi-file-earmark-arrow-down"></i> Informe
							</button>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>


		<!-- endPageContent -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="js/jquery-1.11.2.min.js"></script>
		<script src="vendor/datatables/jquery.dataTables.min.js"></script>
		<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
		<script src="js/datatables.js"></script>
		<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="js/sweetalert2.min.js"></script>
		<script src="js/main.js"></script>

		{{!-- FORM VALIDATION --}}

		<script src="js/scripts.js"></script>

		<script>
			document.getElementById('downloadButton').addEventListener('click', function () {
				// Obtener el contenido del historial de créditos
				var historial = obtenerHistorialDeCreditos();

				// Crear un objeto Blob con el contenido del historial
				var blob = new Blob([historial], { type: 'text/plain' });

				// Crear un objeto URL para el Blob
				var url = window.URL.createObjectURL(blob);

				// Crear un elemento <a> para el enlace de descarga
				var a = document.createElement('a');
				a.href = url;
				a.download = 'historial_creditos.txt'; // Nombre del archivo de descarga
				document.body.appendChild(a);

				// Simular clic en el enlace de descarga
				a.click();

				// Liberar el objeto URL
				window.URL.revokeObjectURL(url);
			});

			function obtenerHistorialDeCreditos() {
				// Aquí puedes recopilar la información del historial de créditos
				// y formatearla en el formato deseado para la descarga
				// Por ejemplo:
				var historial = 'FECHA\t\tMOTIVO\t\tMONTO\t\tDEUDA ACTUAL\n';
				historial += '10/3/2024\tCRÉDITO\t\t50.000\t\t50.000\n';
				historial += '20/3/2024\tABONO\t\t10.000\t\t40.000\n';
				historial += '23/3/2024\tABONO\t\t20.000\t\t20.000\n';
				historial += '10/3/2024\tCRÉDITO\t\t40.000\t\t60.000\n';
				return historial;
			}
		</script>

</body>

</html>