<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Company</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/sweetalert2.css">
	<link rel="stylesheet" href="css/material.min.css">
	<link rel="stylesheet" href="css/material-design-iconic-font.min.css">
	<link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
	<script src="js/material.min.js"></script>
	<script src="js/sweetalert2.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/main.js"></script>
</head>

<body>
	<!-- Notifications area -->
	{{>notifications }}
	<!-- navBar -->
	{{>navBar }}
	<!-- navLateral -->
	{{>navLateral }}
	<!-- pageContent -->
	<section class="full-width pageContent">
		<section class="full-width header-well">
			<div class="full-width header-well-icon">
				<i class="zmdi zmdi-balance"></i>
			</div>
			<div class="full-width header-well-text">
				<p class="text-condensedLight">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde aut nulla accusantium minus corporis
					accusamus fuga harum natus molestias necessitatibus.
				</p>
			</div>
		</section>
		<div class="full-width divider-menu-h"></div>
		<div class="mdl-grid">
			<div
				class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
				<div class="full-width panel mdl-shadow--2dp">
					<div class="full-width panel-tittle bg-primary text-center tittles">
						New company
					</div>
					<div class="full-width panel-content">
						<form>
							<h5 class="text-condensedLight">Data company</h5>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?"
									id="DNICompany">
								<label class="mdl-textfield__label" for="DNICompany">DNI</label>
								<span class="mdl-textfield__error">Invalid number</span>
							</div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input" type="text"
									pattern="-?[A-Za-z0-9áéíóúÁÉÍÓÚ ]*(\.[0-9]+)?" id="NameCompany">
								<label class="mdl-textfield__label" for="NameCompany">Name</label>
								<span class="mdl-textfield__error">Invalid name</span>
							</div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input" type="text" id="addressCompany">
								<label class="mdl-textfield__label" for="addressCompany">Address</label>
								<span class="mdl-textfield__error">Invalid address</span>
							</div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input" type="email" id="emailCompany">
								<label class="mdl-textfield__label" for="emailCompany">E-mail</label>
								<span class="mdl-textfield__error">Invalid E-mail</span>
							</div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input" type="text" id="urlCompany">
								<label class="mdl-textfield__label" for="urlCompany">Web</label>
								<span class="mdl-textfield__error">Invalid web</span>
							</div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input" type="tel" pattern="-?[0-9+()- ]*(\.[0-9]+)?"
									id="phoneCompany">
								<label class="mdl-textfield__label" for="phoneCompany">Phone</label>
								<span class="mdl-textfield__error">Invalid phone number</span>
							</div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input" type="tel" pattern="-?[0-9+()- ]*(\.[0-9]+)?"
									id="faxCompany">
								<label class="mdl-textfield__label" for="faxCompany">Fax</label>
								<span class="mdl-textfield__error">Invalid fax number</span>
							</div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input class="mdl-textfield__input" type="text" id="coinCompany">
								<label class="mdl-textfield__label" for="coinCompany">Coin</label>
								<span class="mdl-textfield__error">Invalid coin</span>
							</div>
							<p class="text-center">
								<button
									class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary"
									id="btn-addCompany">
									<i class="zmdi zmdi-plus"></i>
								</button>
							<div class="mdl-tooltip" for="btn-addCompany">Add company</div>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>