<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/sweetalert2.css">
    <link rel="stylesheet" href="css/material.min.css">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <!-- Notifications area -->
    {{>notifications }}
    <!-- navBar -->
    {{>navBar }}
    <!-- navLateral -->
    {{>navLateral }}

    <!-- pageContent -->
    <section class="full-width pageContent">
        <section class="full-width header-well">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Content Row -->
                <div class="row p-3 justify-content-center">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Ganancias (Mensuales)</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Ganancias (Anuales)</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                   
                </div>


                <div class="row">

                    <!-- GRAFICA ANUAL -->
                    <div class="col-xl-6 col-lg-8">
                        <div class="card shadow mb-4">

                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Comparativa de ventas anuales</h6>
                            </div>

                            <div class="card-body">
                                <div class="col-md-12">
                                    <canvas id="graficoComparativoAnual" width="800" height="400"></canvas>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-primary mb-3">Descargar</button>
                            </div>
                            
                        </div>
                    </div>

                    

                    <!-- GRÀFICA SEMANAL -->
                    <div class="col-xl-6 col-lg-6">
                        <div class="card shadow mb-4">

                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Ventas Semanales</h6>
                            </div>

                            <div class="card-body">

                                <div class="col-md-12">
                                    <canvas id="graficoVentasSemanales" width="800" height="400"></canvas>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- GRÀFICA DE PRODUCTOS MÀS Y MENOS VENDIDOS -->
                    <div class="col-lg-12 mb-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Top de productos más y menos vendidos</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <!-- Primer gráfico -->
                                    <div class="col-md-6">
                                        <h6 class="text-center">Productos más vendidos</h6>
                                        <canvas id="graficoProductosMasVendidos" width="400" height="300"></canvas>
                                        <ul class="product-list" id="productosMasVendidosList"></ul>
                                    </div>
                                    <!-- Segundo gráfico -->
                                    <div class="col-md-6">
                                        <h6 class="text-center">Productos menos vendidos</h6>
                                        <canvas id="graficoProductosMenosVendidos" width="400" height="300"></canvas>
                                        <ul class="product-list" id="productosMenosVendidosList"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
    </section>

    <!-- Incluye Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/sweetalert2.min.js"></script>
    <script src="js/main.js"></script>

    <!-- VENTAS SEMANALES -->
    <script>
        const datosVentasSemanales = {
            labels: ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"],
            datasets: [{
                label: 'Ventas',
                data: [1000, 1500, 1200, 1800, 2000, 2500, 2200],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)', // Rojo
                    'rgba(54, 162, 235, 0.5)', // Azul
                    'rgba(255, 205, 86, 0.5)', // Amarillo
                    'rgba(75, 192, 192, 0.5)', // Verde
                    'rgba(153, 102, 255, 0.5)', // Morado
                    'rgba(255, 159, 64, 0.5)', // Naranja
                    'rgba(54, 162, 235, 0.5)'  // Repetimos color azul
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)', // Rojo
                    'rgba(54, 162, 235, 1)', // Azul
                    'rgba(255, 205, 86, 1)', // Amarillo
                    'rgba(75, 192, 192, 1)', // Verde
                    'rgba(153, 102, 255, 1)', // Morado
                    'rgba(255, 159, 64, 1)', // Naranja
                    'rgba(54, 162, 235, 1)'  // Repetimos color azul
                ],
                borderWidth: 1
            }]
        };

        // Configuración del gráfico de ventas semanales
        const configVentasSemanales = {
            type: 'bar',
            data: datosVentasSemanales,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };

        document.addEventListener("DOMContentLoaded", function () {
            const ctxVentasSemanales = document.getElementById('graficoVentasSemanales').getContext('2d');
            const chartVentasSemanales = new Chart(ctxVentasSemanales, configVentasSemanales);
        });
    </script>

    <!-- VENTAS ANUALES -->
    <script>
        const datosComparativaAnual = {
            labels: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
            datasets: [{
                label: 'Ventas 2023',
                data: [1000, 1200, 1300, 1500, 1800, 2000, 2200, 2300, 2100, 1900, 1600, 1400],
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            },
            {
                label: 'Ventas 2024',
                data: [1100, 1300, 1400, 1600, 1900, 2100, 2300, 2400, 2200, 2000, 1700, 1500],
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        };

        const configComparativaAnual = {
            type: 'bar',
            data: datosComparativaAnual,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };

        var ventasSemanalesChart = new Chart(
            document.getElementById('graficoVentasSemanales'),
            configVentasSemanales
        );

        var comparativaAnualChart = new Chart(
            document.getElementById('graficoComparativoAnual'),
            configComparativaAnual
        );
    </script>

    <!-- TOP PRODUCTOS DEL MES -->
    <script>
        const productosMasVendidos = {
            labels: ["Producto A", "Producto B", "Producto C", "Producto D", "Producto E"],
            data: [50, 40, 30, 20, 10]
        };

        const productosMenosVendidos = {
            labels: ["Producto F", "Producto G", "Producto H", "Producto I", "Producto J"],
            data: [5, 8, 12, 15, 20]
        };

        const configProductosMasVendidos = {
            type: 'bar',
            data: {
                labels: productosMasVendidos.labels,
                datasets: [{
                    label: 'Ventas',
                    data: productosMasVendidos.data,
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };

        const configProductosMenosVendidos = {
            type: 'bar',
            data: {
                labels: productosMenosVendidos.labels,
                datasets: [{
                    label: 'Ventas',
                    data: productosMenosVendidos.data,
                    backgroundColor: 'rgba(255, 99, 132, 0.5)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };

        var productosMasVendidosChart = new Chart(
            document.getElementById('graficoProductosMasVendidos'),
            configProductosMasVendidos
        );

        var productosMenosVendidosChart = new Chart(
            document.getElementById('graficoProductosMenosVendidos'),
            configProductosMenosVendidos
        );


        function mostrarDetallesProductos(productListId, productos) {
            const productList = document.getElementById(productListId);
            productList.innerHTML = '';
            productos.labels.forEach((producto, index) => {
                const listItem = document.createElement('li');
                listItem.classList.add('product-list-item');
                listItem.innerHTML = `
          <img src="https://via.placeholder.com/50" alt="Imagen de ${producto}">
          <span>${producto}</span>
          <span class="ml-auto">${productos.data[index]} ventas</span>
        `;
                productList.appendChild(listItem);
            });
        }

        mostrarDetallesProductos('productosMasVendidosList', productosMasVendidos);

        mostrarDetallesProductos('productosMenosVendidosList', productosMenosVendidos);
    </script>

</body>

</html>