<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error 404</title>
    <link rel="shortcut icon" type="image/x-icon"><i class="fa-duotone fa-triangle-exclamation"></i>
</head>

<body>
    <center>
        <div class="card" style="width: 18rem;">
            {{!-- <img src="#" class="card-img-top" alt="..."> --}}
            <div class="card-body">
                <h1 class="card-title">¯⁠\⁠⁠(⁠ツ⁠)⁠⁠/⁠¯</h1>
                <h1 class="card-title">ERROR 404</h1>
                <p class="card-text">Te perdiste?</p>
                <p class="card-text">tranquilo solo te equivocaste de ruta</p>
            </div>
        </div>
    </center>

</body>

</html>