<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Form-v6 by Colorlib</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="css/nunito-font.css">
	<!-- Main Style Css -->
    <link rel="stylesheet" href="css/recove.css"/>
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body class="form-v6">
	<div class="page-content">
		<div class="form-v6-content ">
			<div class="form-left full-width">
				<img src="assets/img/recove.jpg">
			</div>
			<form class="form-detail " action="#" method="post">
				<h2>Recuperar contraseña</h2>
				<div class="form-row m-2">
					<input type="text" name="full-name" id="full-name" class="input-text" placeholder="USUARIO" required>
				</div> 
					<div class="form-row-last">
						<input type="submit" name="recover" class="recover" value="Enviar">
					</div>
			
				<div style="text-align: center;">
					<span><a href="/">Iniciar sesión</a></span>
				</div>

				
			</form>
		</div>
	</div>
</body>
</html>