<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/recove.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/recove.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="css/recove.css">
	<link rel="stylesheet" href="css/sweetalert2.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <title>Recuperar contrase침a</title>
  </head>
  <body>
  

  <div class="half">
    <div class="bg order-1 order-md-2" style="background-image: url('assets/img/carrots.jpg');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-6">
            <div class="form-block">
              <div class="text-center mb-5">
              <h3>Recupera tu contrase침a</h3>
              <!-- <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p> -->
              </div>
              <form action="#" method="post">
                <div class="form-group first">
                  <label for="username">Ingresa tu correo</label>
                  <input type="text" class="form-control" placeholder="example@gmail.com" id="username" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]+$">
                </div>
                
                <div class="d-sm-flex mb-5 align-items-center">
                  <span class="ml-auto"><a href="/" class="forgot-pass">Iniciar sesi칩n</a></span> 
                </div>
				
                <button type="button" class="btn btn-block btn-primary" data-bs-dismiss="modal" id="confirmBoton">Enviar</button>
				

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

	<script>
		const confirmBoton = document.getElementById("confirmBoton");
		confirmBoton.addEventListener("click", function () {
    Swal.fire({
		title: "Envio exitoso!",
		text: "Se ha enviado exitosamente un link a su correo, por favor revise su bandeja de entrada para poder acceder al restablecimineto de su contrase침a.",
		icon: "success",
		confirmButtonText: "Ok",
		confirmButtonColor: "#7CAEE0",
		})
	});
	</script>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

  </body>
</html>