<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/recove.carousel.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/recove.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="css/recove.css">
  <link rel="stylesheet" href="css/sweetalert2.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

  <title>Restablecer contraseña</title>
</head>

<body>

  <div class="half">
    <div class="bg order-1 order-md-2" style="background-image: url('assets/img/carrots.jpg');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-6">
            <div class="form-block">
              <div class="text-center mb-5">
                <h3>Restablece tu contraseña</h3>
                <!-- <p class="mb-4">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p> -->
              </div>
              <form action="#" method="post" id="myForm">
                <div class="form-group last mb-3">
                  <label for="password">Nueva contraseña</label>
                  <input type="password" class="form-control" id="password" required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,16}$">
                  <div class="invalid-feedback">
                    Por favor ingresa una contraseña válida.
                  </div>
                </div>

                <div class="form-group last mb-3">
                  <label for="confirmPassword">Confirmar contraseña</label>
                  <input type="password" class="form-control" id="confirmPassword" required
                    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,16}$">
                  <div class="invalid-feedback">
                    Por favor ingresa la misma contraseña de arriba.
                  </div>
                </div>

                <div class="d-sm-flex mb-5 align-items-center">
                  <span class="ml-auto"><a href="/" class="forgot-pass">Iniciar sesión</a></span>
                </div>

                <button type="button" class="btn btn-block btn-primary" id="guardarBoton">Guardar</button>
              </form>

              <script>
                const guardarBoton = document.getElementById("guardarBoton");
                guardarBoton.addEventListener("click", function () {
                  const passwordInput = document.getElementById("password");
                  const confirmPasswordInput = document.getElementById("confirmPassword");

                  const password = passwordInput.value;
                  const confirmPassword = confirmPasswordInput.value;

                  const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,16}$/;

                  if (!passwordRegex.test(password)) {
                    // Contraseña no cumple con los requisitos de la expresión regular
                    Swal.fire({
                      icon: "error",
                      title: "Por favor ingresa una contraseña válida.",
                      showConfirmButton: false,
                      timer: 1500
                    });
                  } else if (password !== confirmPassword) {
                    // Las contraseñas no coinciden
                    Swal.fire({
                      icon: 'error',
                      title: 'Error',
                      text: 'Las contraseñas no coinciden',
                      showConfirmButton: true
                    });
                  } else {
                    // Las contraseñas coinciden
                    Swal.fire({
                      position: "center",
                      icon: "success",
                      title: "Tu contraseña ha sido restablecida",
                      showConfirmButton: false,
                      timer: 1500,
                      backdrop: `
                    rgba(0,0,123,0.4)
                    url(assets/img/cat.gif)
                    left top
                    no-repeat
                `
                    });
                  }
                });
              </script>

              <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
              <script src="js/jquery-3.3.1.min.js"></script>
              <script src="js/popper.min.js"></script>
              <script src="js/bootstrap.min.js"></script>
              <script src="js/main.js"></script>

</body>

</html>